<h1>All cars</h1>
<h3>@Model.currentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.AllCars)
        {
            @await Html.PartialAsync("AllCars", car)
        }
    }   
</div>